#fondo{
    background-color: bisque;
}
#c1{
    background-color: #33a;
    height:150px;
    width: 70px;
    border-top:solid black;
    border-left: solid black;
    border-bottom: solid black;

}
#c2{
    background-color: white;
    height: 150px;
    width: 70px;
    position: absolute;
    left: 78px;
    top: 8px;
    border-top: solid black;
    border-bottom: solid black;
    border-right: solid black;

   
}
#red{
    background-color: red;
    height: 150px;
    width: 70px;
    position: absolute;
    left: 148.1px;
    top: 8px;
    border-top: solid black;
    border-bottom: solid black;
    border-right: solid black;
}
#back{
    background-color: white;
    height: 150px;
    width: 250px;
    border-top: solid black;
    border-bottom: solid black;
    border-right: solid black;
    border-left: solid black;
}
#red1{
    background-color: red ;
    height: 20px;
    width: 250px;
    position: absolute;
    top: 250px;
    
}
#red2{
    background-color: red;
    height: 150px;
    width: 20px;
    position: absolute;
    left: 125px;
}
#wh{
    background-color: white;
    width: 250px;
    height: 75px;
    border-top: solid black;
    border-right: solid black;
}
#roj{
    background-color: red;
    height: 75px;
    width: 248.5px;
    border-bottom: solid black;
    border-left: solid black ;
    border-right: solid black;

}
.star{
    height: 75px;
    width: 75px;
    border-left: solid black;
}
